$ground: #fff;

$font-clr: #5A5A5A;
$alert-clr: #F8C01C;
$alert-clr-hover: #FDEBB4;
$red-clr: #D8523D;
$red-clr-hover: #F26954;
$blue-clr: #5497FF;
$blue-clr-hover: #82B2FD;
$trans-blue: rgba(79,158,248,0.40);
$trans-dkblue: rgba(41,77,118,0.63);
$trans-grey: rgba(155,154,155,0.50);
$trans-white: rgba(255,255,255,0.8);
$trans-black: rgba(0,0,0,0.4);
$trans-red: rgba(241,105,83,0.30);

$vapor: #F6F6F6;
$ozone: #EAEDF1;
$fog: #D8D8D8;
$metal: #5A5A5A;
$cobalt: #2A4D77;
$ozone: #EAEDF1;
$soft-black: #212121;
$soft-grey: #909090;
$deep-cobalt: #2A4D77;

// Pop Colors

$bahama-blue: #46C6E3;
$mint: #9EEFD7;
$lemon: #FFDB71;

// Social Colors

$facebook: #3A5795;
$facebook-hover: #4D6FB8;
