{
    "env": {
        "node": true,
        "jquery": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        // POSSIBLE ERRORS
        "comma-dangle": 2,
        "no-cond-assign": 2,
        "no-console": 1,
        "no-constant-condition": 2,
        "no-debugger": 1,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "no-empty-character-class": 2,
        "no-extra-boolean-cast": 2,
        "no-ex-assign": 2,
        "no-extra-parens": [2, "functions"],
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-sparse-arrays": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "use-isnan": 2,
        "valid-typeof": 2,

        // BEST PRACTICE
        "accessor-pairs": 2,
        "block-scoped-var": 2,
        "complexity": [2, 10],
        "curly": 2,
        "consistent-return": 2,
        "default-case": 2,
        "dot-notation": 2,
        "eqeqeq": 2,
        "no-caller": 2,
        "no-case-declarations": 2,
        "no-else-return": 2,
        "no-empty-function": 2,
        "no-empty-pattern": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-extra-label": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-implicit-globals": 2,
        "no-implied-eval": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-magic-numbers": [
            1,
            {
                "ignoreArrayIndexes": true
            }
        ],
        "no-multi-spaces": 0,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-octal": 2,
        "no-param-reassign": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": [
            2,
            "always"
        ],
        "no-script-url": 2,
        "no-self-assign": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unmodified-loop-condition": 2,
        "no-unused-expressions": [
            2,
            {
                "allowShortCircuit": true,
                "allowTernary": true
            }
        ],
        "no-unused-labels": 2,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 2,
        "no-with": 2,
        "radix": 2,
        "vars-on-top": 2,
        "wrap-iife": [
            2,
            "inside"
        ],
        "yoda": 1,

        // STRICT MODE
        "strict": [
            2,
            "function"
        ],

        // VARIABLES
        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-undef": 2,
        "no-undef-init": 2,
        "no-undefined": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 2,

        // STYLISTIC ISSUES
        "array-bracket-spacing": [
            1,
            "always"
        ],
        "block-spacing": 1,
        "brace-style": [
            1,
            "1tbs",
            {
                "allowSingleLine": false
            }
        ],
        "comma-spacing": [
            1,
            {
                "before": false,
                "after": true
            }
        ],
        "comma-style": [
            1,
            "last"
        ],
        "func-names": 2,
        "id-blacklist": [
            1,
            "err",
            "e",
            "cb",
            "callback",
            "obj"
        ],
         "indent": [
            1,
            4
        ],
        "key-spacing": [
            1,
            {
                "beforeColon": false,
                "afterColon": true,
                "mode": "minimum"
            }
        ],
        "keyword-spacing": 1,
        "max-depth": [
            1,
            4 // Kan komma att ändras
        ],
        "max-nested-callbacks": [
            1,
            4
        ],
        "max-params": [
            2,
            3
        ],
        "new-parens": 1,
        "newline-after-var": [
            1,
            "always"
        ],
        "newline-per-chained-call": [
            1,
            {
                "ignoreChainWithDepth": 3
            }
        ],
        "no-array-constructor": 1,
        "no-continue": 1,
        "no-inline-comments": 1,
        "no-lonely-if": 1,
        "no-mixed-spaces-and-tabs": [
            1,
            "smart-tabs"
        ],
        "no-multiple-empty-lines": [
            1,
            {
                "max": 1
            }
        ],
        "no-negated-condition": 1,
        "no-nested-ternary": 1,
        "no-new-object": 2,
        "no-trailing-spaces": 1,
        "no-whitespace-before-property": 1,
        "object-curly-spacing": [
            1,
            "always"
        ],
        "one-var": [
            1,
            "always"
        ],
        "operator-linebreak": [
            1,
            "none"
        ],
        "padded-blocks": [
            1,
            "never"
        ],
        "quote-props": [
            1,
            "as-needed"
        ],
        "quotes": [
            2,
            "single"
        ],
        // "require-jsdoc": 2 # Intressant! #
        "semi": [
            2,
            "always"
        ],
        "semi-spacing": 1,
        "sort-imports": 1,
        "space-before-blocks": 1,
        // Diskutera v
        "space-before-function-paren": [
            1,
            "never"
        ],
        // "space-in-parens": [
        //     1,
        //     "always"
        // ],
        "space-infix-ops": 1,
        "space-unary-ops": [
            1,
            {
                "words": true,
                "nonwords": false
            }
        ],
        "wrap-regex": 1
    },
    "globals": {
        "require": true
    }
}