
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<style>
	svg{fill:black; width:33px; height:33px;}
	.icon{ width:33px; height:33px;}
</style>
<script>
$( document ).ready(function() {
	$("#svg-loaded").load("img/svg/symbol-defs.svg"); 
});
</script>
</head>

<body>

<div id="svg-loaded"></div>
<svg class="icon mapper"><use xlink:href="#mapper"></use></svg>
<svg class="icon down-chevron"><use xlink:href="#down-chevron"></use></svg>
<svg class="icon wheelchair"><use xlink:href="#wheelchair"></use></svg>
<svg class="icon washmachine"><use xlink:href="#washmachine"></use></svg>
<svg class="icon tv"><use xlink:href="#tv"></use></svg>
<svg class="icon in-cal"><use xlink:href="#in-cal"></use></svg>
<svg class="icon out-cal"><use xlink:href="#out-cal"></use></svg>
<svg class="icon area"><use xlink:href="#area"></use></svg>
<svg class="icon shower"><use xlink:href="#shower"></use></svg>
<svg class="icon pets"><use xlink:href="#pets"></use></svg>
<svg class="icon parking"><use xlink:href="#parking"></use></svg>
<svg class="icon network"><use xlink:href="#network"></use></svg>
<svg class="icon kitchen"><use xlink:href="#kitchen"></use></svg>
<svg class="icon baby"><use xlink:href="#baby"></use></svg>
<svg class="icon balcony"><use xlink:href="#balcony"></use></svg>
<svg class="icon bathtub"><use xlink:href="#bathtub"></use></svg>
<svg class="icon elevator"><use xlink:href="#elevator"></use></svg>
<svg class="icon globe"><use xlink:href="#globe"></use></svg>
<svg class="icon home"><use xlink:href="#home"></use></svg>
<svg class="icon email"><use xlink:href="#email"></use></svg>
<svg class="icon lock"><use xlink:href="#lock"></use></svg>
<svg class="icon list"><use xlink:href="#list"></use></svg>
<svg class="icon grid"><use xlink:href="#grid"></use></svg>
<svg class="icon plus"><use xlink:href="#plus"></use></svg>
<svg class="icon close-cross"><use xlink:href="#close-cross"></use></svg>
<svg class="icon paperclip-tooltip"><use xlink:href="#paperclip-tooltip"></use></svg>


</body>
</html>
