.coverage-list {
    margin-left: 0px;

    &__item {
        font-size: 18px;
        margin-bottom: 10px;
        
        &:before {
            margin-right: 10px;
            color: forestgreen;
            font-weight: bold;
            content: "\2713";
        }
    }
}

.table-statistics {
    width: 100%;
    border: none;
    
    thead {
        background: none;
    }
    
    th {
        text-align: center;
    }
    
    td {
        padding: 20px 25px;
        font-size: 18px;
    }
    
    &__value {
        text-align: center;
        &--good {
            font-weight: bold;
        }
    }
}

.block-ad-choice {
    margin-top: 20px;
    
    &__button {
        width: 100%;
        
        &--guest {
            background: $red-clr;
            
            &:hover {
                background: $red-clr-hover;
            }
        }
    }
}