#landing {
    padding-top: 0;
    section {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    #lightbox-video {
        display: none;
    }
    a.close-reveal-modal {
        text-decoration: none;
    }
    .accordion-navigation a {
        text-decoration: none;
    }
    #steps {
        margin-bottom: 0;
    }
    nav#nav.top-bar.dashboard.nav-top {
        .nav-search {
            display: none;
        }
        ul.title-area {
            border: none;
        }
        ul li.logged-user {
            border: none;
        }
        ul li ul.dropdown {
            background-color: $trans-black;
            border: none;
            @include border-radius(3px);
            margin-top: 0;
        }
        ul li ul.dropdown li:hover {
            background: transparent;
        }
    }
}
.offset-vid {
    margin-top: -100px;
}
#how {
    div.video {
        .large-8.columns {
            padding: 0;
        }
        .large-4.columns .button {
            display: block;
        }
        .columns {
            height: 433px;
        }
        img {
            height: 433px;
            width: auto;
        }
    }
    div.txt {
        padding: 40px;
        background-color: $vapor;
        height: inherit;
    }
    a.vid-play-button {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url('../img/vid_play_button2.svg') no-repeat;
        background-position: 50% 48%;
        z-index: 100;
    }
    a.vid-play-button:hover {
        opacity: 0.8;
    }
}

#hood {
    h1, p {
        text-align: center;
    }
    a.rental,
    a.destination {
        display: inline-block;
        height: 362px;
    }
    div.view {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
    .large-4 {
        border-right: $pad solid #fff;
    }
    .large-8 {
        border-left: $pad solid #fff;
    }
    .group {
        margin-bottom: $dbl-pad;
    }
    .end {
        .large-4 {
            border-right: none;
            border-left: $dbl-pad solid #fff;
        }
        .large-8 {
            border-left: 0;
        }
    }
    .middle {
        .large-4:first-child + .large-4 {
            border-left: $pad solid #fff;
        }
        .large-4:last-child {
            border-left: $pad solid #fff;
            border-right: 0;
        }
    }
    .rental {
        text-align: center;
        div.wrap {
            position: absolute;
            top: 0;
            z-index: 1;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 100%;
            word-wrap: break-word;
            > *, span, sup {
                color: #fff;
            }
            .price {
                display: block;
                position: absolute;
                background-color: $trans-black;
                padding: .5em 2em;
                top: 0;
                left: 1px;
            }
            h3 {
                margin-top: 0;
                padding-top: 8.4rem;
            }
            h3,
            p {
                text-shadow: $text-shadow;
            }
            p {
                line-height: 1.25rem;
            }
            span {
                text-shadow: $text-shadow;
            }
        }
    }
    .destination {
        text-align: center;
        h2 {
            position: absolute;
            top: 44%;
            z-index: 1;
            width: 100%;
            color: #fff;
            text-shadow: $text-shadow;
            font-family: $lato;
            font-weight: 900;
        }
    }
    .search-more {
        clear: both;
        padding-top: $pad;
        text-align: center;
        margin-bottom: 50px;
    }
}

#steps {
    width: 100%;
    background-color: $vapor;
    min-height: 300px;
    padding-bottom: 60px;
    margin-bottom: 0;
    .steps {
        .fx {
            @include vendor-animation(500ms, 500ms, 1);
        }
        h1 {
            margin-top: 60px;
        }
        h1,
        p {
            color: $metal;
            text-align: center;
        }
        hr {
            display: none;
        }
        a.columns {
            padding: 0;
        }
        p {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
        }
        a,
        u {
            color: $blue-clr;
            text-decoration: none;
        }
        a:hover u {
            text-decoration: underline;
        }
        .overlay-wrapper {
            height: 500px;
        }
        .step1,
        .step2,
        .step3 {
            min-height: 500px;
            background-color: $fog;
            margin: 0 20px;
            max-width: 306px;
            p {
                color: #fff;
                margin-top: 250px;
                text-shadow: $text-shadow-sm;
            }
            span {
                color: #fff;
                font-weight: bold;
                font-size: 1.2rem;
                padding: .2em 1em;
                display: block;
                text-align: center;
                max-width: 100px;
                margin: 0 auto;
            }
        }
        .step1 span {
            background-color: $bahama-blue;
        }
        .step2 span {
            background-color: $mint;
        }
        .step3 span {
            background-color: $lemon;
        }
        .step1 {
            background: url('../img/step1.jpg');
        }
        .step2 {
            background: url('../img/step2.jpg');
        }
        .step3 {
            background: url('../img/step3.jpg');
        }
    }
    .hover-zoom {
        float: left;
        margin: 0;
        height: 180px;
        width: 300px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        background-size: 110%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: gray;
        position: relative;
    }
    .hover-zoom:hover {
        background-size: 105%;
        @include transition;
    }
}