.equivalent-apartment-specs {
    .equivalent-apartment-specs__item {
        list-style: disc !important;
    }
}

.calculation-example {
    margin: 10px 0 25px 0;
    display: block;
    padding: 20px;
}